h2 {
  color: rgb(255, 208, 184);
}

h1 {
  text-align: center;
  color: rgb(237, 120, 120);
}

body {
  background-color: rgb(255, 255, 234);
  text-align: left;
  font-family: Cursive, sans-serif, "Times New Roman", Times, serif;
}
